/* - - - - commons - - - - */

.block__tint-overlay {
    background-color: black;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.z-index-1 {
    z-index: 1;
}

.z-index-100 {
    z-index: 100;
}

.z-index-500 {
    z-index: 500;
}

.z-index-900 {
    z-index: 900;
}

.bg-soft {
    background-color: $soft;
}

.max-width-792 {
    max-width: $spacer*33;
}

// object fits for images

.object-fit_fill {
    object-fit: fill
}

.object-fit_contain {
    object-fit: contain
}

.object-fit_cover {
    object-fit: cover
}

.object-fit_none {
    object-fit: none
}

main > .container {
    padding-top: $spacer*1.5;

    @include media-breakpoint-up(xxl) {
        padding-top: $spacer*2;
    }
}



// front-page blogs

.blog_thumbnail {

}
