footer {
    background-color: #1D1D1D;
    color: white;
    a {
        color: white !important;
        font-weight: normal !important;
        text-decoration: underline !important;
        &:hover {
            color: $primary !important;
        }
    }
}