.hero-nav-overlay {



    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 337px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0;
    }

    .navbar-nav .nav-link {
        color: $dark;
        font-weight: 700;
        text-transform: uppercase;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }


    @include media-breakpoint-up(xxxl) {


        .navbar-nav .menu-item.show > .nav-link {
            background: $white;
            color: $body-color;
        }

        .navbar-nav .nav-link {
            padding: 0;
            padding-right: $spacer*1.75;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $white;
            width: 100%;

            & > .menu-item > .nav-link {
                padding-left: $spacer;
                padding-right: $spacer;
                font-family: $font-family-sans-serif;
                color: $gray-700;
                font-size: 90%;
            }
        }
    }

    @include media-breakpoint-down(xxl) {
        .dropdown-menu, .dropdown-menu.show {
            display: block !important;
            position: relative !important;
            transform: none !important;
            top: 0;
            left: 0;
            background-color: rgba(white, .2) !important;
            border: none;
            border-radius: 0;
            padding-left: $spacer/2 !important;
            margin-left: 0 !important;
        }
    }

    @include media-breakpoint-down(md) {

        .nav-logo img {
            width: 200px;
            height: auto;
        }

        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }

    @include media-breakpoint-down(sm) {
        .nav-logo img {
            width: 150px;
            height: auto;
        }
    }

}