.hero-nav-overlay {



    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 337px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0;
    }

    .navbar-nav .nav-link {
        color: $dark;
        font-weight: 700;
        text-transform: uppercase;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }


    @include media-breakpoint-up(xxxl) {


        .navbar-nav .menu-item.show > .nav-link {
            background: $white;
            color: $body-color;
        }

        .navbar-nav .nav-link {
            padding: 0;
            padding-right: $spacer*1.75;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $white;
            width: 100%;

            & > .menu-item > .nav-link {
                padding-left: $spacer;
                padding-right: $spacer;
                font-family: $font-family-sans-serif;
                color: $gray-700;
                font-size: 90%;
            }
        }
    }

    @include media-breakpoint-down(xxl) {
        .navbar-nav .dropdown-menu {
            position: static !important;
            float: none !important;
        }

        .dropdown-menu.show {
            display: block !important;
            transform: none !important;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: 0;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: transparent;
            background-clip: padding-box;
            border: none;
            border-left: 2px solid white;
            border-radius: 0;

            .dropdown-item {
                color: $dark;
                font-weight: 700;
                padding-left: $spacer/2;
                text-transform: uppercase;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {

        .nav-logo img {
            width: 200px;
            height: auto;
        }

    }

    @include media-breakpoint-down(sm) {
        .nav-logo img {
            width: 150px;
            height: auto;
        }
    }

}