button, .btn {
    cursor: pointer;
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    line-height: 2;
    box-shadow: none!important;
    position: relative;
    z-index: 1;
    background-color: transparent!important;
}

.btn-primary {
    border: none;
    padding: 0 $spacer*1.2;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -11px;
        width: 100%;
        height: 44px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187.355' height='53.828' viewBox='0 0 187.355 53.828'%3E%3Cpath id='button-background' d='M152.862,2.111c5.573.039,11.148-.12,16.807-.378a90.373,90.373,0,0,1,15.535.506c3.04.955,2.836,3.875,2.832,4.669.047,6.749.176,37.588-.116,41.279a4.587,4.587,0,0,1-5.025,4.251,49.966,49.966,0,0,0-5.744.257l-15.629,1.279c-9.8.626-19.68.854-29.645.784s-19.844-.041-29.64.089l-21.7-.153c-7.093-.05-14.272,0-21.366.147l-23.728-.167c-2.871-.02-5.743.059-8.53.138s-5.659.258-8.531.436c-2.534.181-3.324-.029-7.488,0s-4.159.571-6.856-.341C1.426,52.379,1.263,52.4.92,47.436c0-6.456-.382-19.576,0-36.988.093-1.587.988-2.349,3.885-3.823a35.54,35.54,0,0,1,6.086-1.148c3.634-.471,7.689-.74,12-.908s8.784-.335,13.429-.4,8.867-.136,12.752-.109c6,.042,11.991-.015,18.072-.17s12.078-.411,18.074-.567c7.348-.147,14.526-.394,21.537-.543s14.1-.5,21.285-.842Q140.452,1.726,152.862,2.111Z' transform='translate(-0.751 -1.607)' fill='%231daeef'/%3E%3C/svg%3E%0A");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -11px;
        width: 100%;
        height: 44px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187.355' height='53.828' viewBox='0 0 187.355 53.828'%3E%3Cpath id='button-background' d='M152.862,2.111c5.573.039,11.148-.12,16.807-.378a90.373,90.373,0,0,1,15.535.506c3.04.955,2.836,3.875,2.832,4.669.047,6.749.176,37.588-.116,41.279a4.587,4.587,0,0,1-5.025,4.251,49.966,49.966,0,0,0-5.744.257l-15.629,1.279c-9.8.626-19.68.854-29.645.784s-19.844-.041-29.64.089l-21.7-.153c-7.093-.05-14.272,0-21.366.147l-23.728-.167c-2.871-.02-5.743.059-8.53.138s-5.659.258-8.531.436c-2.534.181-3.324-.029-7.488,0s-4.159.571-6.856-.341C1.426,52.379,1.263,52.4.92,47.436c0-6.456-.382-19.576,0-36.988.093-1.587.988-2.349,3.885-3.823a35.54,35.54,0,0,1,6.086-1.148c3.634-.471,7.689-.74,12-.908s8.784-.335,13.429-.4,8.867-.136,12.752-.109c6,.042,11.991-.015,18.072-.17s12.078-.411,18.074-.567c7.348-.147,14.526-.394,21.537-.543s14.1-.5,21.285-.842Q140.452,1.726,152.862,2.111Z' transform='translate(-0.751 -1.607)' fill='%231daeef'/%3E%3C/svg%3E%0A");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &:focus {

        &:before, &:after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187.355' height='53.831' viewBox='0 0 187.355 53.831'%3E%3Cpath id='button-background' d='M152.862,2.111c5.573.039,11.148-.12,16.807-.378a90.374,90.374,0,0,1,15.535.506c3.04.955,2.836,3.875,2.832,4.669.047,6.749.176,37.588-.116,41.279a4.587,4.587,0,0,1-5.025,4.251,49.97,49.97,0,0,0-5.744.257l-15.629,1.279c-9.8.626-19.68.854-29.645.784s-19.844-.041-29.64.089l-21.7-.153c-7.093-.05-14.272,0-21.366.147l-23.728-.167c-2.871-.02-5.743.059-8.53.138s-5.659.258-8.531.436c-2.534.181-3.324-.029-7.488,0s-4.159.571-6.856-.341C1.426,52.379,1.263,52.4.92,47.436c0-6.456-.382-19.576,0-36.988C1.013,8.861,1.908,8.1,4.8,6.625a35.54,35.54,0,0,1,6.086-1.148c3.634-.471,7.689-.74,12-.908s8.784-.335,13.429-.4,8.867-.136,12.752-.109c6,.042,11.991-.015,18.072-.17s12.078-.411,18.074-.567c7.348-.147,14.526-.394,21.537-.543s14.1-.5,21.285-.842Q140.452,1.726,152.862,2.111Z' transform='translate(-0.75 -1.604)' fill='%230089bc'/%3E%3C/svg%3E%0A");
        }

    }
    &:hover {

        &:before, &:after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187.355' height='53.831' viewBox='0 0 187.355 53.831'%3E%3Cpath id='button-background' d='M152.862,2.111c5.573.039,11.148-.12,16.807-.378a90.374,90.374,0,0,1,15.535.506c3.04.955,2.836,3.875,2.832,4.669.047,6.749.176,37.588-.116,41.279a4.587,4.587,0,0,1-5.025,4.251,49.97,49.97,0,0,0-5.744.257l-15.629,1.279c-9.8.626-19.68.854-29.645.784s-19.844-.041-29.64.089l-21.7-.153c-7.093-.05-14.272,0-21.366.147l-23.728-.167c-2.871-.02-5.743.059-8.53.138s-5.659.258-8.531.436c-2.534.181-3.324-.029-7.488,0s-4.159.571-6.856-.341C1.426,52.379,1.263,52.4.92,47.436c0-6.456-.382-19.576,0-36.988C1.013,8.861,1.908,8.1,4.8,6.625a35.54,35.54,0,0,1,6.086-1.148c3.634-.471,7.689-.74,12-.908s8.784-.335,13.429-.4,8.867-.136,12.752-.109c6,.042,11.991-.015,18.072-.17s12.078-.411,18.074-.567c7.348-.147,14.526-.394,21.537-.543s14.1-.5,21.285-.842Q140.452,1.726,152.862,2.111Z' transform='translate(-0.75 -1.604)' fill='%230092c9'/%3E%3C/svg%3E");
        }

    }
}

.btn-lg {
    padding: 8px $spacer*3.2;
}

.btn-search {
    right: 0;
    background-color: $soft;

    button .btn-default {
        border-color: transparent;
    }

}

.fake-btn--yellow,
.fake-btn--orange {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fake-btn {
    @include media-breakpoint-down(md) {

        span {
            font-size: .9rem;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: $spacer*4.5;
    }
}

.fake-btn--yellow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='755' height='190' viewBox='0 0 755 190'%3E%3Cpath id='button-background' d='M613.98,3.377c22.481.138,44.964-.422,67.791-1.328a417.951,417.951,0,0,1,62.663,1.78,5.6,5.6,0,0,1,4.731,5.61c.188,23.722,1.346,107.8,4.333,120.024,3.321,13.276,3.239,25.833-.925,37.668-3.124,8.7-8.943,13.2-17.456,13.149a231.044,231.044,0,0,0-23.169.9l-63.042,4.5c-39.524,2.2-79.381,3-119.572,2.754s-80.042-.142-119.554.313l-87.533-.537c-28.612-.176-57.564,0-86.179.517l-95.708-.587c-11.58-.071-23.163.206-34.4.486s-22.827.906-34.412,1.533c-10.223.635-13.406-.1-30.2,0s-22.942,3.206-33.821,0c-5.375-11.545-7.7-22.068-6.232-38.454C2.4,137.41,4.616,58.24,7.519,30.7c.377-5.579,4.15-9.742,9.271-11.454A162.334,162.334,0,0,1,41.34,15.21C56,13.556,72.352,12.61,89.727,12.019s35.431-1.178,54.166-1.412,35.767-.478,51.435-.382c24.182.148,48.367-.052,72.894-.6s48.715-1.445,72.9-1.994c29.638-.516,58.593-1.384,86.869-1.909s56.892-1.744,85.853-2.961Q563.921,2.023,613.98,3.377Z' transform='translate(-0.855 -1.607)' fill='%23f9b82b'/%3E%3C/svg%3E%0A");
}

.fake-btn--orange {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='755' height='190' viewBox='0 0 755 190'%3E%3Cpath id='button-background' d='M613.98,3.377c22.48.138,44.964-.422,67.791-1.328a417.952,417.952,0,0,1,62.663,1.78,5.6,5.6,0,0,1,4.731,5.61c.188,23.722,1.346,107.8,4.334,120.024,3.321,13.276,3.239,25.833-.925,37.668-3.124,8.7-8.943,13.2-17.456,13.149a231.046,231.046,0,0,0-23.169.9l-63.042,4.5c-39.524,2.2-79.381,3-119.572,2.754s-80.042-.142-119.554.313l-87.533-.537c-28.612-.176-57.565,0-86.179.517l-95.708-.587c-11.58-.071-23.163.206-34.4.486s-22.827.906-34.412,1.533c-10.223.635-13.406-.1-30.2,0s-22.942,3.206-33.821,0c-5.375-11.545-7.7-22.068-6.232-38.454C2.4,137.41,4.616,58.24,7.519,30.7c.377-5.579,4.15-9.742,9.271-11.454A162.334,162.334,0,0,1,41.34,15.21C56,13.556,72.352,12.61,89.727,12.019s35.431-1.178,54.166-1.412,35.767-.478,51.435-.382c24.182.148,48.367-.052,72.894-.6s48.715-1.445,72.9-1.994c29.638-.516,58.593-1.384,86.869-1.909s56.892-1.744,85.853-2.961Q563.921,2.023,613.98,3.377Z' transform='translate(-0.855 -1.607)' fill='%23f15d22'/%3E%3C/svg%3E");;
}

// add margin to post buttons
body.blog main {
    .btn {
        margin-top: $spacer;
        margin-bottom: $spacer*2.5;
    }
}